DB_URL_PROD=TU_DB_URL_DE_PRODUCCION
DB_USERNAME_PROD=TU_USERNAME_DE_PRODUCCION
DB_PASSWORD_PROD=TU_PASSWORD_DE_PRODUCCION

DB_URL_LOCAL=TU_DB_URL_LOCAL
DB_USERNAME_LOCAL=TU_USERNAME_LOCAL
DB_PASSWORD_LOCAL=TU_PASSWORD_LOCAL